/*商品詳細メインページ*/
.main{
  &__show{
    padding:40px;
    margin:0 auto;
    .content__right{
      width:700px;
      margin: 0 auto;
      .top-content{
        .item-box{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin:16px 0 0;
            display: flex;
            flex-direction: column;
            #main-image{
              object-fit:cover;
              height:346px;
            }
            .img__plural{
              display:flex;
              width: 10%;
              .sub-image{
                object-fit:cover;
                height:50px;
                opacity: 0.5;
              }
              .active {
                opacity: 1;
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            >span{
              font-size: 46px;
              font-weight: bold;
              margin:0 10px 0 0;
              &__price-detail{
                span{
                  font-size:16px
                }
              }
            }
          }
          .item-detail{
            line-height:1.5;
            font-size: 18px;
            margin-bottom:30px;
          }
          .table{
            margin-bottom:20px;
            .tabnav-a{
              margin: 0;
              padding: 0;
            }
            .tabnav-a li{
                display: inline;
            }
            .tabnav-a li a{
                display: inline-block;
                background: #ddd;
                color: #333;
                padding: 10px;
                border-radius: 5px 5px 0 0;
                text-decoration: none;
                transition: .4s;
            }
            .tabnav-a li a:hover,
            .tabnav-a li a.active{
                background: black;
                color: #fff;
                opacity: 0.85;
            }
            .tabcontent-a{
              border: 1px dotted #ccc;
              width: 100%;
              #tab01 {
                font-size: 14.5px;
              }
              #tab02 {
                .message-content {
                  height: 350px;
                  margin: 10px auto 10px;
                  overflow: scroll;
                  background-color: white;
                  .message-box {
                    width: 100%;
                    height: 50px;
                    margin-bottom: 10px;
                    .upper-message {
                      display: flex;
                      .user-name {
                        font-size: 16px;
                      }
                      .date-time {
                        margin-left: 5px;
                        font-size: 12px;
                        color: #999999;
                      }
                    }
                    .lower-message {
                      .message-text {
                        font-size: 14px;
                      }
                    }
                  }
                }
                .message-form {
                  font-size: 25px;
                  width: 80%;
                  margin: 0 auto 10px;
                  .input-box {
                    width: 100%;
                    .text {
                      width: 63%;
                      border: 1px solid #ccc;
                      color: #434a54;
                      height: 50px;
                      padding: 0px 40px 0px 10px;
                    }
                    .send-btn {
                      width: 100px;
                      height: 50px;
                      margin-left: 10px;
                      color: white;
                      border: 1px solid #ccc;
                      background-color: #38aef0;
                    }
                  }
                }
              }
              #tab04 {
                font-size: 14px;
              }
              @media screen and ( max-width : 1380px ) {
                width: 90%;
              }
            }
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a{
                    display: block;
                    text-decoration:none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
          .optional-area{
            display: flex;
            justify-content: space-between;
            ul{
              margin:10px 0 0;
              display:flex;
              li.optional-btn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                .fa{
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
                .fa-star:before {
                  content: "\f005";
                } 
              }
              .optional-btn:hover {
                opacity: 0.6;
              }
            }
            .optional{
              margin: 10px 0 0;
              display: flex;
              .optional-btn{
                font-size: 14px;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fa{
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
              .optional-btn:hover {
                opacity: 0.6;
              }
            }
          }
          .buy-btn-contener {
            margin-top: 20px;
            text-align: center;
            .no-underline{
              text-decoration: none;
              .buy-btn {
                line-height: 48px;
                background: #FF0000;
                border: 1px solid #FF0000;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
              }
              .delete-btn {
                margin-right: 30px;
                line-height: 48px;
                background: #FF0000;
                border: 1px solid #FF0000;
                color: #fff;
                width: 30%;
                font-size: 18px;
                border-radius: 100px;
              }
              .edit-btn {
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 30%;
                font-size: 18px;
                border-radius: 100px;
              }
            }
          }
        }
        .comment__box{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .message{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          .notice-msg{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .comment-btn{
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
      }
      .links{
        list-style:none;
        display: flex;
        justify-content:between;
        width: 100%;
        li:last-child{
          margin-left: auto;
        }
          a{
          text-decoration: none;
          color: #3CCACE;
          }
          .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        
      }
      .related-items{
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
      .links:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
  &__show:after {
    display: block;
    content: "";
    clear: both;
  } 
}